{% extends 'VinogradarCompaniesBundle:Company:bootstrap.html.twig' %}

{% block title %}
    {{company.name}}
{% endblock %}

{% block stylesheets %}
    {% stylesheets 
        'bundles/vinogradarcompanies/css/Company/show-and-create.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts 'vendor/bower_components/lightbox/js/lightbox.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    
{% block body %}
    {% include "VinogradarCompaniesBundle:header:light.html.twig" %}
    <div class="page-content-container">
        <div class="company">
            <div class="company-header">
                <div class="name">
                    {{company.name}}
                    <div class="date">
                        {{company.lastUpdateDate | date('d.m.Y')}}
                    </div>
                </div>
            </div>
            <div class="company-body">
                <div class="description">
                    {{ company.description }}
                </div>
                <div class="line"></div>
                <div class="heading">
                    Контакты
                </div>
                <div class="contact">
                    {{ company.contact }}
                </div>
                <div class="heading">
                    Адрес
                </div>
                <div class="address">
                    {{ company.address }}
                </div>
                {% if company.website %}
                    <div class="heading">
                        Веб-сайт
                    </div>
                    <div class="website">
                        {{ company.website }}
                    </div>
                {% endif %}
            </div> <!-- end .company>.body -->

            <div class="company-footer">
                {# {% if company.viewsNumber %} #}
                    <div class="views">
                        просмотров: {{ company.viewsNumber }}1
                    </div>
                {# {% endif %} #}

                <div class="tags">
                    <span class="heading-2">
                        Теги:
                    </span>
                    {% for tag in company.tags %}
                        <a href="{{ path('vinogradar_companies_list_by_tag', {'tagNameForUrl': tag.nameForUrl}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
